* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink-highlight: #ff57b2;
  --white-heading: #f8f8f8;
  --black-background: #1a1d23;
  --gray-info: #bbbbbb;
  --gray-body: #d7d7d7;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--black-background);
  color: var(--white-heading);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-heading);
}
