.header {
  margin-top: 2.625rem;
}

.container {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.63rem;
    color: var(--white-heading);
  }

  div {
    display: flex;
    flex-direction: row;
    margin-top: 1.5625rem;

    time,
    span {
      display: flex;
      font-weight: 400;
      flex-direction: row;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.058rem;
      color: var(--gray-info);
    }

    time {
      margin-right: 1.9168rem;
    }

    span {
      & + span {
        margin-left: 1.9168rem;
      }
    }

    svg {
      font-size: 1.2rem;
      margin-right: 0.625rem;
    }
  }
}

.edited {
  display: block;
  color: #bbbbbb;
  font-size: 0.85rem;
  margin-top: 1.125rem;
}

.article {
  section {
    margin: 2rem 0;

    p {
      font-size: 1.125rem;
      line-height: 1.575rem;
      text-align: justify;
      font-weight: 400;

      & + p {
        margin-top: 1rem;
      }
    }
  }
}

.postActions {
  hr {
    margin-top: -3rem;
  }

  div {
    margin: 2.5rem 0;
    display: flex;
    text-align: left;
    justify-content: space-between;

    aside {
      font-size: 1.125rem;
      line-height: 1.3613rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;

      b {
        font-size: 1rem;
        line-height: 1.1875rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        color: var(--pink-highlight);
        margin-top: 0.25rem;
      }

      & + aside {
        text-align: right;
      }
    }
  }
}
